@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
.card {
    font-family: 'Source Sans Pro', sans-serif;
}

.card-body {
    padding: 10px 15px !important;
}

.card-img {
    height: 100%;
}