.form-control {
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0;
    margin-top: 4px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: none
}